<!DOCTYPE html>
<html>
<head>
    <title>BearAdmin</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="author" content="于破熊">
    <meta name="keywords" content="BearAdmin,于破熊,php,php后台框架,CMS,thinkphp">
    <meta name="description" content="一款基于ThinkPHP5+AdminLTE的后台快速开发管理系统">
    <link rel="icon" href="/favicon.ico">
    <link href='https://fonts.googleapis.com/css?family=Roboto+Mono' rel='stylesheet' type='text/css'>
    <link href='__CSS__/index.css' rel='stylesheet' type='text/css'>
    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-106757659-1"></script>
</head>
<body>
<div id="wrapper">
    <h1>BearAdmin</h1>
    <h2>&amp;一款基于ThinkPHP5.1+AdminLTE的后台快速开发管理系统&nbsp;</h2>
    <p><a href="/admin" title="点击体验" target="_blank">Go→</a></p>
    <p><a href="https://github.com/yupoxiong/BearAdmin" target="_blank" title="去Github查看">Github</a></p>
    <p>
        <a href="https://gitee.com/yupoxiong/BearAdmin" target="_blank" title="去Gitee查看">Gitee</a>
    </p>
</div>
</body>
</html>
<script src="__PLUGINS__/canvas-nest/canvas-nest.umd.js"></script>
<script>
    const config = {
        color: '0,180,235',
        pointColor: '234,123,123',
        count: 210,
        opacity: 0.8,
    };

    const cn = new CanvasNest(document.body, config);
</script>
